<body>
  <header class="header">
    <h1>Tipos de instrumentos</h1>
  </header>
  <br><br><br><br><br><br>

  <div class="flex flex-wrap justify-content-center column-gap-3 row-gap-3">
    <div class="border-round w-6rem h-6rem bg-black font-bold flex align-items-center justify-content-center">1</div>
    <div class="border-round w-6rem h-6rem bg-black font-bold flex align-items-center justify-content-center">2</div>
    <div class="border-round w-6rem h-6rem bg-black font-bold flex align-items-center justify-content-center">3</div>
    <div class="border-round w-6rem h-6rem bg-black font-bold flex align-items-center justify-content-center">4</div>
    <div class="border-round w-6rem h-6rem bg-black font-bold flex align-items-center justify-content-center">5</div>
    <div class="border-round w-6rem h-6rem bg-black font-bold flex align-items-center justify-content-center">6</div>
    <div class="border-round w-6rem h-6rem bg-black font-bold flex align-items-center justify-content-center">7</div>
    <div class="border-round w-6rem h-6rem bg-black font-bold flex align-items-center justify-content-center">8</div>
  </div>
  <br><br><br><br><br><br>
  <div class="flex justify-content-center align-items" style="height: 50px;">
    <button class="click" routerLink="">
      <i class="pi pi-arrow-left"></i>
    </button>
    <button class="click" routerLink="/entregable-2">
      <i class="pi pi-arrow-right"></i>
    </button>
  </div>

  <footer style="background-color: #000000; color: #fff; text-align: center; padding: 15px; margin-top: 30px; position: fixed; bottom: 0; width: 100%;">
    <div style="display: flex; justify-content: center; gap: 20px; margin-bottom: 10px;">
      <a href="#" style="color: #ffffff; text-decoration: none; font-weight: bold;">Privacidad</a>
      <a href="#" style="color: #f9f9fa; text-decoration: none; font-weight: bold;">Sobre nosotros</a>
      <a href="#" style="color: #ffffff; text-decoration: none; font-weight: bold;">FAQ</a>
    </div>
    <div>Copyright © 2024 Soundfly: Escuchar música gratis online, All Rights Reserved</div>
    <div style="display: flex; justify-content: center; gap: 5px;">
      <span style="color: #a300ff;">🌐</span>
      <span style="color: #fbf5ff;">Español</span>
    </div>
  </footer>
</body>
